.Footer{
        background:#6495ed;
      
        bottom:0;
        width:100%;
        height:40px;
     
     
}
.Footer a{
       text-decoration: none;
       list-style: none;
        border-radius: 10px;
        font-size: 18px;
        color:#fff;
        background: #389e51;
        padding:15px;
        
     
       
}
.Footer p{
      text-align: center;
      font-size: 1.3em;
       color:#000000;

 }
.Footer a:hover{
        background: #66be7c;
}
@media(max-width:960px){
        .Footer a{
             width: 100px;
         }


}